body{font-family: rubik,sans-serif;color: #9a9a9a;}
header{width: 100%;background-color:rgba(0, 0, 0, 0.83);}
.navbar{background-color: #101010;width:100%;color: white;padding: .5%;border: none;opacity: 1px;}
.navbar-nav{margin-left: 10%;}
.navbar-default .navbar-nav li{font-size: 14px;}
.navbar-nav li a{padding-bottom: 2%;}
.navbar-default .navbar-nav li a{color:white;}
.navbar-default .navbar-nav li a:hover{color: green;}
.navbar-expand-lg .navbar-nav .nav-link{letter-spacing:5px;}
.navbar-default .navbar-brand{color: green;}
.login-btn{background-color: #26ae61;border-radius: 50px;margin-top: 0px;display: inline-block;margin-top: -5px;font-size: 12px;}
/* Dropdown Button */
.dropbtn {background-color: transparent;padding: 14px;font-size: 15px;border: none;}
.dropdown {position: relative;display: inline-block;}
.navbar-default .navbar-nav .dropdown a{color: grey;}
/*.dropdown .dropdown-content  a:hover{color:green;} */
.links a{padding: 4%;margin:4%}
.dropdown .dropdown-content .links li{padding: 6px 12px;text-decoration: none;}
.dropdown .dropdown-content .links a:hover{color: white;margin:4%;border-radius: 4px;letter-spacing: .5px;background: #26ae61;}
.dropdown-content {display: none;width:200px;background-color:white;position: absolute;color:black;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
.dropbtn .dropdown-content  a{color:black;}
.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}
.a-color{color: black;}
.dropdown-content a:hover {color: green;background-color: #E8E8E8;padding-bottom: 2%;}
.dropdown:hover .dropdown-content {display: block;color: black;}
.dropdown:hover .dropbtn {color: green;}
h1 {font-family:Comic Sans MS,sans-serif;color: black;font-weight: bold;font-weight: 700;line-height: 60px;font-size: 42px;color: #333;}
h2{font-family:Comic Sans MS,sans-serif;font-weight: 100;}
.mrgn{margin-top: 5%;}
.mrgn-2{margin-top:10%;}
.mg{margin-top: 10%;}
.search-block{text-align: center;}
.search-block h3{line-height: 1.2;font-size: 36px;font-weight: 500;margin-bottom: 30px;}
.search-input input{border:green solid 1px;border-radius: 30px;width:80%;padding: 20px;display: inline-block;float: left;}
.search-input button{display: inline-block;float: left;margin-left: 20px;padding: 10px;border-radius: 50px;background-color: #26ae61;color: white;border:green solid .1px;width: 50px;}
.search-input button:hover{background-color: #9a9a9a;}
.img-intro img{height:350px;float: right;}
.services{color: #333;}
.services h2{font-size: 18px;line-height: 32px;}
.service-box{width: 285px;border: #F0F0F0 solid .1px;font-weight: 700;font-family: Comic Sans MS,sans-serif;float:left;padding-left: -20px;}
.service-box h3{padding-top: 2%;color:margin-bottom:15%;padding-bottom: 10%;}
.box{margin: 30%;margin-top: 20px;}
.service-box img{height: 50px;margin-top:15%;}
.service-box:hover{transform: scale(1.1);}

h3{font-family: Comic Sans MS,sans-serif;color: #333;}
h2{color: #333;font-weight: bold;}
p{color: #6b6969;font-size: 17px;}

.more a{color: #333;}
.more a:hover{color: green;text-decoration: none;}

.section-header{font-size: 30px;margin-bottom: 0px;font-family: rubik,sans-serif;font-weight: 700;color: #333; position: relative;}
.icon-size{font-size: 48px;color: #26ae61;}
.s-btn{padding: 2%;width: 40%;border-radius: 35px;font-size: 15px;background-color: #26ae61;margin-top: 4%;}
.mrgn-bottom{margin-bottom: 50px;}

.download-1{background-color: white;border: green solid 1px;margin-top:4%;width: 40%;border-radius: 50px;float: left;}
.download-1 a{text-decoration: none;color: green;font-size: 18px;}
.download-1 i{margin-top:1%;float:left;margin-left: 10px;}
.download-1 a p{font-size: 14px;}
.download-1:hover{box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);background-color: white;color: green;}
.download-2{background-color: #26ae61;border: green solid 1px;margin:4%;margin-left: 6%;width: 40%;border-radius: 50px;}
.download-2 a{text-decoration: none;color: white;margin-left: 2%;font-size: 18px;margin-top: 2%;}
.download-2 a i {float:left;margin-left: 10px;font-size: 25px;margin-left: 4%;margin-top:4%;}

.download-2:hover{box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.download-2 .span-1{margin-left: 20px;}
.process-icon{font-size: 48px;color: #26ae61;display: inline-block;margin-bottom: 10px;}
.work-define h4{font-size: 20px;font-weight: 500;margin-bottom: 10px;color: #191c1e;font-family: Comic Sans MS,sans-serif;}
.work-define p{font-size: 14px;color: #6b6969;line-height: 26px;font-family: rubik,sans-serif;margin-bottom: 0;}
.section-header{color: #fff;margin-bottom: 70px;position: relative;}
.section-header .section-title{font-size: 30px;margin-bottom: 0px;font-family: rubik,sans-serif;font-weight: 700;color: #333;position: relative;}
.section-header p{font-size: 14px;color: #6b6969;line-height: 26px;font-family: rubik,sans-serif}

footer{background-color: #24324a;width: 100%;color: #8a99b3;padding: 5%;}
.logo a{font-size: 14px;color: green;}
.logo img{height: 50px;padding: 2%;}
footer p{margin-top: 20px;color: #8a99b3;}
footer h3{color: white;}
footer ul li p a{text-decoration: none;color: #8a99b3;}


footer ul li p a:hover{color: green;text-decoration: none;}
footer input{border: green solid 1px;background-color: #24324a;border-radius: 50px;line-height: 30px;padding: 5px 10px;}
.bottom{background-color: #26ae61;color: white;width: 100%;position: absolute;}
.bottom p{margin-top: 1%;color: white;}
.fnt-size{font-size: 10px;font-weight: 10;}
.carousel-box{background-color: white;margin:2%;padding:2%;text-align: center;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.carousel-box p{font-size: 14px;color: #6b6969;line-height: 26px;margin:5%;}
.carousel-box h2{font-family:Comic Sans MS,sans-serif;color: #696969;}
.download-app{text-align: left}
.download-app p{font-size: 14px;color: #6b6969;line-height: 26px;font-family: rubik,sans-serif;text-align: left}
.downlaod-app h2 {  color: #191c1e;  font-family: Comic Sans MS,sans-serif; font-size: 36px;font-weight: 500;margin-bottom: 30px;}
